/* Estilos generales */
body {
    background: linear-gradient(135deg, #1c1c1c, #333); /* Gradiente de fondo */
    color: white;
    font-family: 'Brooklyn', sans-serif;
    padding: 20px;
    margin: 0;
}

h1, h2 {
    text-align: center; /* Centramos los títulos */
    margin-bottom: 20px; /* Espacio inferior */
    color: #fff;
}

/* Estilos del formulario */
form {
    max-width: 600px; /* Ancho del formulario */
    margin: 20px auto;
    padding: 20px;
    background-color: #252525;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px; /* Añadir espacio superior */
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    margin-left: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
}

button {
    background-color: #444;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #edcb1e;
}

/* Estilos del contenedor de parties */
#parties-container {
    margin
}