/* =============================
   Estilos Generales
============================= */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #9b59b6, #2c003e);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =============================
   Encabezado
============================= */
header {
    width: 100%;
    padding: 3rem 2rem;
    text-align: center;
}

/* Estilo del Título con Efecto 3D y Resplandor */
header h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    text-shadow:
        0 1px 0 #151515,
        0 2px 0 #151515,
        0 3px 0 #151515,
        0 4px 0 #151515,
        0 5px 0 #151515,
        0 6px 0 transparent,
        0 7px 0 transparent,
        0 8px 0 transparent,
        0 9px 0 transparent,
        0 10px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    color: #ffffff;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

header h1:hover {
    transform: translateY(-5px);
    text-shadow:
        0 1px 0 hsl(297, 100%, 50%),
        0 2px 0 hsl(297, 100%, 50%),
        0 3px 0 hsl(297, 100%, 50%),
        0 4px 0 hsl(297, 100%, 50%),
        0 5px 0 hsl(297, 100%, 50%),
        0 6px 0 hsl(297, 100%, 50%),
        0 7px 0 hsl(297, 100%, 50%),
        0 8px 0 hsl(297, 100%, 50%),
        0 9px 0 hsl(297, 100%, 50%),
        0 10px 10px hsl(297, 87%, 24%);
}

/* =============================
   Principal
============================= */
h2 {
    text-align: center;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
}

/* =============================
   Contenedor de la Lista de Personajes
============================= */
#characters-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajuste para que ocupe todo el ancho de la pantalla */
}

.container {
    width: 90%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

/* =============================
   Formulario y Campos de Entrada
============================= */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

label {
    font-weight: 500;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #6a5acd;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333333;
}

/* =============================
   Botones Generales
============================= */
button {
    background-color: #2c1535;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
}

button:hover {
    background-color: #8d4ea7;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-5px) scale(1.05);
}

/* Botones específicos */
#open-modal-button,
#open-party-modal-button {
    background-color: #6a5acd;
    color: #ffffff;
    padding: 0.8rem 2rem;
    margin: 1rem auto;
    display: block;
    font-size: 1rem;
}

#open-modal-button:hover,
#open-party-modal-button:hover {
    background-color: #8d4ea7;
}

/* =============================
   Tabla de Personajes
============================= */
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0.3rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

table th, table td {
    padding: 0.8rem 1rem; /* Espacio adicional para un diseño más limpio */
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}

table th {
    background-color: #6a5acd;
    color: #eeeeee;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

table thead tr {
    background-color: #8d4ea7;
    color: #fff;
}

/* =============================
   Modal
============================= */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #2c003e;
    color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #8d4ea7;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.close-button:hover {
    color: #2c1535;
}

/* =============================
   Botones de Acción (Modificar y Eliminar)
============================= */
.edit-button, .delete-button {
    padding: 0.4rem 0.8rem;
    margin: 0.2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.edit-button {
    background-color: #4caf50;
}

.delete-button {
    background-color: #f44336;
}

.edit-button:hover {
    background-color: #45a049;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.delete-button:hover {
    background-color: #e53935;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* =============================
   Estilos para Parties
============================= */
.parties-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.party-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 1.5rem;
    width: 300px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.party-box:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* Efecto hover para elementos impares y pares */
.parties-container .party-box:nth-child(odd):hover {
    transform: perspective(600px) rotateY(-5deg) translateX(10px) translateY(-10px);
}

.parties-container .party-box:nth-child(even):hover {
    transform: perspective(600px) rotateY(5deg) translateX(-10px) translateY(-10px);
}

/* Hover con resplandor y efecto 3D */
.party-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px 5px rgba(255, 223, 0, 0.6); /* Glow amarillo */
}

.party-box h3 {
    margin-top: 0;
    font-size: 1.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.party-box ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.party-box li {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.party-box .party-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.party-box .party-actions button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
}

.party-box .edit-party-button {
    background-color: #4caf50;
}

.party-box .delete-party-button {
    background-color: #f44336;
}

.party-box .edit-party-button:hover {
    background-color: #45a049;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.party-box .delete-party-button:hover {
    background-color: #e53935;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Estilos para el botón "Crear Party" */
#open-party-modal-button {
    background-color: #6a5acd;
    color: #ffffff;
    padding: 0.8rem 2rem;
    margin: 1rem auto;
    display: block;
    font-size: 1rem;
}

#open-party-modal-button:hover {
    background-color: #8d4ea7;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Ajuste de las columnas de la tabla */
table th:nth-child(1), table td:nth-child(1) {
    width: 20%;
}

table th:nth-child(2), table td:nth-child(2) {
    width: 15%;
}

/* Estilos para la barra de progreso */
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50; /* Color de la barra de progreso */
    width: 0;
    transition: width 0.3s ease;
}

/* Estilos para los checkboxes de personajes */
.character-checkbox {
    margin-bottom: 5px;
}

.character-checkbox input[type="checkbox"] {
    margin-right: 10px;
}
