<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUGP Characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Mis Personajes de MUGP</h1>

    <table id="characters-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Clase</th>
                <th>Nivel Actual</th>
                <th>Party</th>
                <th>Mulo</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se llenarán los datos -->
        </tbody>
    </table>

    <h2>Agregar Personaje</h2>
    <form id="add-character-form">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="class">Clase:</label>
        <input type="text" id="class" name="class" required><br>
        <label for="level">Nivel Actual:</label>
        <input type="number" id="level" name="level" required><br>
        <label for="to_buy">Lo que necesita comprar:</label>
        <input type="text" id="to_buy" name="to_buy"><br>
        <label for="to_sell">Lo que necesita vender:</label>
        <input type="text" id="to_sell" name="to_sell"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="id_mugp">ID MUGP:</label>
        <input type="text" id="id_mugp" name="id_mugp" required><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="is_party_master">Party Master:</label>
        <input type="checkbox" id="is_party_master" name="is_party_master"><br>
        <label for="is_mule">Mulo:</label>
        <input type="checkbox" id="is_mule" name="is_mule"><br>
        <button type="submit">Agregar</button>
    </form>
    
    <!-- Botón para mostrar el formulario de creación de parties -->
    <button id="create-party-btn" onclick="showCreatePartyForm()">Crear Party</button>
    
    <!-- Contenedor para el formulario de crear party -->
    <div id="party-form-container" style="display: none;">
        <h2>Crear Party</h2>
        <form id="create-party-form">
            <label for="party-name">Nombre del Party:</label>
            <input type="text" id="party-name" name="party-name" required><br>
            
            <label for="party-members">Selecciona personajes:</label>
            <select id="party-members" name="party-members" multiple required>
                <!-- Las opciones de personajes se llenarán dinámicamente con JavaScript -->
            </select><br>
            
            <button type="submit">Crear Party</button>
        </form>
    </div>

    <!-- Contenedor donde se mostrarán los parties -->
    <div id="parties-container"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
